spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:postgresql://localhost:15433/koalaswap_dev
    username: koalaswap
    password: secret
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate.format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 0
    connect-retries: 5
    postgresql-compatibility: "15"
  mail:
    host: smtp.gmail.com
    port: 587
    username: weihaimoau@gmail.com
    password: mjokiewawgsyzayu
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

server:
  port: 12649

app:
  jwt:
    secret: "p9P2JYpN4mVJXWm7XyQw6kBsF3uCz7rGQh5M8tQ2nA1rS6vY0kL9dH4eT8uZ3xB1"
    accessTtlMs: 90000000
  mail:
    from: weihaimoau@gmail.com
  urls:
    verify-redirect-base: http://localhost:4200/verified
  reset:
    frontendUrl: http://localhost:4200
  file-service:
    base-url: http://localhost:12647
  user:
    default-avatar-url: https://d3367sa0s3hyt3.cloudfront.net/avatar/default-avatar.v1.svg
  token-freshness:
    use-redis: true
    cache-ttl-sec: 8
    pubsub-channel: auth:pv:changed
  user-service:
    internal-base-url: http://localhost:12649

logging:
  level:
    com.koalaswap.common.security: DEBUG
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
