###############
#   Backend   #
###############
/backend/**/target/
/backend/**/.settings/
/backend/**/.classpath
/backend/**/.project
*.iml
*.log

###############
#   Frontend  #
###############
/frontend/node_modules/
/frontend/build/
/frontend/.env*
/frontend-web/node_modules/
/frontend-web/dist/
/frontend-web/.env.local
npm-debug.log*
yarn-error.log*

###############
#   Universal #
###############
.DS_Store
.idea/
.vscode/
.env
.ssh/
*.pem
*.key
*.p12
*.pfx
node_modules


# Windows 设备名幽灵文件
infra/[Nn][Uu][Ll]