###############
#   Backend   #
###############
/backend/**/target/
/backend/**/.settings/
/backend/**/.classpath
/backend/**/.project
*.iml
*.log

###############
#   Frontend  #
###############
/frontend/node_modules/
/frontend/build/
/frontend/.env*
npm-debug.log*

###############
#   Universal #
###############
.DS_Store
.idea/
.vscode/
.env

node_modules


# Windows 设备名幽灵文件
infra/[Nn][Uu][Ll]